<div class="header-section">
  <div class="menu-right">
    <div class="user-panel-top">
     <div class="col-md-12">
       <div class="col-md-1 col-xs-1"><a class="toggle-btn  menu-collapsed"><!--<i class="fa fa-bars"></i>--></a></div>
       <div class="col-md-3 col-xs-10">
        <div class="profile_details_left">
         <ul class="nofitications-dropdown">
          <li class="login_box" id="loginContainer">
            <% if current_user.entrepreneur? %>
              <form id="searchform" action="/user/ideas">
                <div class="fieldcontainer">
                  <input type="text" class="search-keywords" placeholder="<%= t('users_header.type_keywords') %>" name="q" value="<%= params[:q] %>" />
                  <input type="submit" value="" id="searchbtn" name="searchbtn">
                </div>
              </form>
            <% end %>

          </li>

        </ul>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-7 col-xs-12 right-menu">
      <div class="profile_details">
        <ul>
          <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <div class="profile_img">
                <center ><span class="prof-img"> </span>
                  <div class="user"><div class="user-name">
                    <p><%= current_user.username %></p>
                  </div>
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                </div>
                <div class="clearfix"></div>
              </div>
            </a>
            <ul class="dropdown-menu drp-mnu">
              <li>
                <%= link_to my_acount_path do  %>
                  <%= image_tag('myaccount.png') %> <%= t('users_header.my_account') %>
                <% end %>
              <li>
                <%= link_to edit_user_registration_path do %>
                <%= image_tag('updateProfile.png') %> <%= t('users_header.update_profile') %>
                <% end %>
              </li>
              <% if current_user.investor? %>
                <li>
                  <%= link_to my_favourites_user_investors_path do %>
                    <%= image_tag('my_favourites.png') %> <%= t('users_header.my_favourites') %>
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to destroy_user_session_path do %>
                <%= image_tag('Logout-Icons.png') %> <%= t('users_header.logout') %>
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <center class="notifications-box">
              <div class="notifications-icon">
                <center><span class="badge11"></span></center>
              </div>
              <div ><%= t('users_header.notifications') %></div>
            </center>
              <ul class="dropdown-menu drp-notification">
                <div class="notifications-block">
                  <li class="no-notification">
                    <i><%= t('users_header.notifications_empty', :count => 0) %></i>
                  </li>
                </div>
                <div class="see-all-notification hide">
                  <%= link_to t('users_header.see_all'), notification_path %>
                </div>
              </ul>
          </li>

          <li>
            <center class="messages-box">
              <div class="msg-icon"><center><span class="badge11"></span></center></div>
              <div ><%= t('users_header.messages') %></div>
            </center>
            <ul class="dropdown-message">
            </ul>
          </li>
          <div class="clearfix"> </div>
        </ul>
        </div>  </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  </div>