<div id="page-wrapper">
  <div class="switches">
    <div class="col-4">
      <div class="col-md-12 p0">
        <div class="col-md-4 p0"></div>
        <div class="col-md-4 mb30 p0">
        <div class="col-md-12 p0">
          <div class="personal-details personal-update">
            <div class="tab-content">
              <div class="" id="horizontal-form">
                <div class="header text-center"></div>
                <div class="content">
                  <div class="col-md-12 col-xs-12">
                    <h3 class="c-font-17 mob-center text-left form-tile"  style="line-height:2;"><%= t('user.update_password') %></h3>
                    <hr>
                    <div class="form-content">
                      <%= simple_form_for(@user, url: user_update_password_path, html: { method: :post, class: 'update-pwd-form', id: 'update-pwd-form' }) do |f| %>
                        <% if devise_error_messages! != '' %>
                          <div class="alert alert-danger">
                            <%= devise_error_messages! %>
                          </div>
                        <% end %>
                        <% if flash[:update_success] %>
                          <div class="alert alert-success update-profile-message">
                            <%= t('user.update_pwd_success_mess') %>
                          </div>
                        <% end %>
                        <% if flash[:update_errors] %>
                          <div class="alert alert-danger">
                            <div id="error_explanation">
                              <h2><%= t('user.update_pwd_error_heading') %></h2>
                              <ul><li><%= t('user.update_pwd_error_heading') %></li></ul>
                            </div>
                          </div>
                        <% end %>
                        <%= f.hidden_field :reset_password_token %>
                        <div class="form-group">
                          <label><%= t('user.current_password') %></label> <i><%= t('user.your_current_pwd_mess') %></i><br />
                          <%= f.password_field :current_password, class: 'form-control', placeholder: t('user.current_password') %>
                        </div>
                        <div class="form-group">
                          <label><%= t('user.new_password') %></label><br />
                          <%= f.password_field :password, :autocomplete => "off", class: 'form-control', placeholder: t('user.new_password')  %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password_confirmation, t('user.new_password_confirmation') %><br />
                          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('user.new_password_confirmation') %>
                        </div>
                        <div class="footer">
                          <button type="submit" class="primary-btn btn-next"><%= t('user.update') %></button>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
