<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="<%= admin_root_path %>"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li class="active">User</li>
    </ol>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">All Users</h1>
    </div>
  </div><!--/.row-->
  <div class="alert alert-success message-success hide">
    <b>Well done!</b> User has been deleted successfully.
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_tag admin_user_index_path, method: :get, role: :search, class: "form-horizontal" do %>
            <div class="form-group">
              <label class="control-label col-md-2">Username or Email</label>
              <div class="col-md-10">
                <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search User By Username Or Email", id: "search-user" %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">User Type</label>
              <div class="col-md-10">
                <%= select_tag :user_type, options_for_select(User.user_types.keys, params[:user_type]), include_blank: 'Select User Type', class: 'form-control dd' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">Location</label>
              <div class="col-md-10">
                <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Search User By Location" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <%= submit_tag "Search", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th width="35%">Username</th>
                <th width="35%">Email</th>
                <th width="15%">User Type</th>
                <th width="15%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= image_tag user.avatar, class: 'user-avatar' %>
                    <%= user.try(:username) %>
                  </td>
                  <td><%= user.try(:email) %></td>
                  <td><%= user.try(:user_type) %></td>
                  <td>
                    <%= link_to admin_user_path(user), class: "btn btn-success" do %>
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to edit_admin_user_path(user), class: 'btn btn-primary' do %>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to "#", "onClick" => "deleteUser(#{user.id}, event);" , id: user.id, "data-url" => admin_ajax_delete_user_path(user), class: 'btn btn-danger delete_user', disabled: (user.admin? ? true : false) do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @users.count.zero? %>
                <tr><td colspan="4">No results</td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= paginate @users, :theme => 'twitter-bootstrap-3',
                   :pagination_class => "pagination-sm"  %>
        </div>
      </div>
    </div>
  </div><!--/.row-->

</div>

<%= render "admin/commons/modal_cofirm" %>
